=# Used of .haml will tell rails that this is a haml file, not erb.
=# This can be applied to any file that was/is .html.erb (note, users can
=# see comments that are done using '/' in HTML)

=# Cannot mix content beside the haml tag with content nested under it – one or the other



=# After '=' sign is Ruby code
%h1= "#{@name.titleize}"

%img{:src => "https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Bender_Rodriguez.png/220px-Bender_Rodriguez.png"}

=# This is how you can make a loop in HAML
=# Dash makes it not output the loop (compare with using '=' below)
%p
  - (0..3).each do |i|
    This is a block in HAML. 

/ .btn.btn-primary.btn-large My Button
/ %div.btn.btn-primary.btn-large My Button 2

=# Ruby hash style for attributes like style (not preferred over CSS stylesheet)
=# Can also do Ruby stuff inside the hash
=# %section{:style => "color: #{"RED".downcase};"}
=# Anything after hash will be treated as content


=# This is adding a class to the section
%section#sample.experience.awesome
  %h2 Experience
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    %span.green
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    %br 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %p 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


=# Not recommended, but can do inline javascript as seen below (bad to mix). Same applies to CSS.

/ :javascript
/   alert("Bender is awesome.");
/ :css
/   body {
/     color: blue;
/   }
